body {
  font: 10pt Tahoma, Helvetica, sans-serif;
  height: 100%;
}

.dialog {
  display: none;
}

#name-dialog label {
  float: left;
  width: 80px;
}

#msgs {
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  height: 100%;
}

#msgs > li > .sender {
  float: left;
  width: 120px;
  font-weight: bold;
}

#msgs > li > .message {
  margin-left: 120px;
}

#msg-form {
  clear: both;
}
