<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Awesome HTML5 Site, Honest</title>
		<style>
			#chart { width: 300px; height: 300px; }
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
		<script src="/highcharts.src.js"></script>
		<script src="/chart.js"></script>
		<script>
			var chart = null;

			$(function() {
				$('form').submit(function(e) {
					e.preventDefault();

					if (chart) {
						chart.destroy();
					}
					var data = $('#data').val(),
						options = demo.createChartOptions(data);

					options.chart.renderTo = 'chart';

					chart = new Highcharts.Chart(options);
				});
			});
		</script>
	</head>
	<body>

		<form>
			<input id="data" name="d" value="<%= data || '5,2,7,3,6' %>" placeholder="data" />
			<input type="submit" value="Chart" />
		</form>
		<div id="chart">
			<% if (data) { %>
			<img alt="Graph" src="/graph?d=<%= data %>" />
			<% } %>
		</div>
	</body>
</html>
